* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    width: 350px;
    height: 520px;
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    justify-content: center;
    padding: 30px 15px;
}

#calculator button {
    width: 70px;
    height: 70px;
}

#calculator #display {
    width: 96%;
    height: 70px;
}

button, div {
    border: 2px solid black;
}

#calculator #delete, #calculator #clear {
    width: 47%;
}

#calculator button, #calculator div {
    font-size: 18px;
}

#calculation {
    margin-right: auto;
    justify-content: flex-start;
}

#result {
    margin-left: auto;
    justify-content: flex-end;
}

#calculation, #result {
    border: none;
    height: 50%;
    display: flex;
    align-items: center;
}



#display {
    padding: 0px 10px;
}